  <!-- ================================== -->
  <!-- Site Wrap -->
  <!-- ================================== -->
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->

    <app-header></app-header>

  </div>

    <app-slider></app-slider>
    <app-searchbox></app-searchbox>

    <router-outlet></router-outlet>

    <app-why-us></app-why-us>
    <app-footer></app-footer>