
<div class="container-fluid bg-image">
<div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active"> Inicia </h2>
      
          <!-- Icon -->
          <div class="fadeIn first">
            <img src="../../assets/images/avatar.png" id="icon" alt="User Icon" width="10" height="125"/>
          </div>
      
          <!-- Login Form -->
          <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Correo">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
            <input type="submit" class="fadeIn fourth" value="Iniciar">
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="#">Olvidó Contra.?</a>
          </div>
      
        </div>
      </div>
    </div>
      <app-footer></app-footer>